*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1562184760-a11b3cf7c169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
}
.navBar {
    display: flex;
    /* background-color: gray;*/
    background-image: url(https://i.gifer.com/NIg.gif);
    background-color: #1A4F80;
    border-radius: 10px 100px / 120px;
    background-size: 40%;
    /* change the image to one in the folder tomorrow*/
    background-position-y: center;
    background-repeat: no-repeat;
    margin: 15px;
    padding: 15px;
    border: double black;
    justify-content: flex-end;
    text-align: center;
}
.navBar a {
  color: rgb(255, 255, 255);
  text-align: right;
  padding: 10px;
  text-decoration: none;
}
/* this changes the color of links on hover */
.navBar a:hover {
  background-color: rgb(179, 27, 133);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}
/* to add a color to the active/current link */
.navBar a.active {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
.text{
    background-size: cover;
    background-color: rgba(173, 173, 173, 0.8);
    border-radius: 10px 100px / 120px;
    background-position: fixed;
    text-align: left;
    margin: 20px;
    padding: 30px;
    border: double black;
}
h1, h3, h4 {
    background-size: 500px;
    width: 50%;
    background-color: rgba(173 , 173, 173, 0.8);
    border-radius: 10px 100px / 120px;
    background-position: fixed;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: double black;
}