*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1562184760-a11b3cf7c169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
}
.navBar {
    display: flex;
    background-color: gray;
    border-radius: 10px 100px / 120px;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border: double black;
    justify-content: flex-end;
    text-align: center;
    align-content: space-between;
}
.text{
    background-size: cover;
    background-color: rgba(173, 173, 173, 0.8);
    border-radius: 10px 100px / 120px;
    background-position: fixed;
    text-align: left;
    margin: 20px;
    padding: 30px;
    border: double black;
}
h1, h2, h3, h4 {
    background-size: 500px;
    width: 50%;
    background-color: rgba(173 , 173, 173, 0.8);
    border-radius: 50px 100px / 120px;
    background-position: fixed;
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: double black;
}