* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.office {
    /*Sizing stuff */
    width: 100vw;
    height: 100vw;
    /*Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /*Text stuff */ 
    text-align: center;
    color: rgb(182, 156, 156);
    /*Background*/
    /*to darken the image use the gradiant below*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/15-July-Manchester-Lead.jpg?itok=HHHMl3RZ);
    background-size: sauto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.office h1 {
    font-size: 5em;
    /*Margins*/
    margin-top: 0;
    margin-bottom: 0.5em;    
}
.office .btn {
    /*position and sizing*/
    display: block;
    width: 200px;
    /*Padding and margin*/
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*Text style*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.0em;
    /*Border style*/
    border: 3px solid white;
    border-radius: 20px;
    /*background styles*/
    background-color: rgba(196, 15, 15, 0.8);
    }